body{
    margin: 0;
}

header{
    background: url('images/scoops.jpg');
    padding: 100px;
    background-size: cover;
}

nav{
    background-color: mediumspringgreen;
}

nav a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color:deeppink;
    background-color: mediumspringgreen;
}

nav a:hover{
    background-color: deeppink;
    color:mediumspringgreen;
}

main{
    padding: 20px;
}

h1{
    font: 30px verdana;
    font-weight: bold;
    color:mediumspringgreen;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

#icecone{
    width: 10%;
}

footer{
    background-color: mediumspringgreen;
    color: deeppink;
    padding: 5px;
}